Repository Smaug6739/Alexandrie, pull requests merged in 2025-08, with the labels that each got.

#63 feat: add Docker containerization with local development setup
  .dockerignore
  .idea/aws.xml
  .idea/workspace.xml
  README.md
  backend/Dockerfile
  backend/app/database.go
  backend/app/migrations.go
  backend/main.go
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/composables/TreeStructure.ts
  frontend/docker-entrypoint.sh
Labels: enhancement

#80 feat: add modals for grid creation and files upload in editor
  frontend/app/components/AppSelect.vue
  frontend/app/components/MarkdownEditor/ColorPickerModal.vue
  frontend/app/components/MarkdownEditor/GridOrganizationModal.vue
  frontend/app/components/MarkdownEditor/ImageSelectorModal.vue
  frontend/app/components/MarkdownEditor/LazyMarkdownEditor.vue
  frontend/app/components/MarkdownEditor/Toolbar.vue
Labels: enhancement, frontend

#82 Update MarkdownSyntax.vue
  frontend/app/components/MarkdownSyntax.vue
Labels: enhancement, frontend

#91 Removal of "Alexandria" for document page titles
  frontend/app/pages/dashboard/docs/[id].vue
Labels: bug, frontend

#93 feat: add an autosave feature
  frontend/app/components/MarkdownEditor/LazyMarkdownEditor.vue
  frontend/app/composables/Preferences.ts
  frontend/app/composables/utils.ts
  frontend/app/pages/dashboard/docs/edit/[id].vue
  frontend/app/pages/dashboard/settings/_views/preferences.vue
Labels: enhancement, frontend
